ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 300px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}